<div class="ui red massive menu">
    <a class="ui item" href="/home"> <i class="home icon"></i> PhyTA - Phylogenetic Tree Analytics </a>
    <a class="ui item" href="/process"> Process </a>
    <a class="ui item" href="/searchResults"> Results </a>
    <a class="ui item" href="http://phyta-docs.readthedocs.io/en/latest/"> Read the docs </a>
    
    <div class="right menu">
        {{#if user}}
            <a class="ui item"> <i class="user icon"></i> Welcome, {{user.name}}!</a>
            <a class="ui item" href="/myjobs"> My jobs </a> 
            <a class="ui item" href="/logout"> <i class="sign out icon"></i> Logout</a>
        {{else}}
            <a class="ui item" href="/login"> <i class="sign in icon"></i> Login</a>
        {{/if}}
    </div>
</div>