
<div class="ui huge red center aligned header">Welcome to PhyTA</div>
<div class="ui red segment center aligned">
    PhyTA is a tool to analize phylogenetic trees. Providing a unique software to compare phylogenetic 
    trees using several metrics and visualize the similarities or dissimilarities between them.
</div>