<div class="ui red segment">
    <h4 class="ui red header">My processing jobs:</h4>
    {{#if jobs}}
    <div id="jobList" class="ui list">
        {{#each jobs}}
            <div id="{{this}}" class="item"> Job Id: <a href="/checkResults?id={{this}}">{{this}}</a>
                <button class="ui icon button" onclick="deleteJob('{{this}}')">
                    <i class="remove icon"> </i>
                </button>
            </div>
        {{/each}}
    </div>
    {{else}}
    <div>
        <p>No jobs available to consult.</p>
    </div>
    {{/if }}

</div>