<div id="segment">

    <div class="ui huge red center aligned header">Process phylogenetic trees</div>

    <div class="ui red segment">
        <h4 class="ui red header">Trees to process</h4>

        <div class="ui form">
            <div class="field">
                <table class="ui red center aligned table" id="mytable">
                    <thead>
                        <tr> <th>Tree</th> <th>Type</th> </tr>
                    </thead>
                    <tbody id="trees"> </tbody>
                </table>
            </div>
            <div class="field">
                <select multiple="" class="ui search dropdown" id="metrics">
                    <option value="">Select metrics</option>
                    {{#each metrics}}
                        <option value={{this.id}}> {{this.description}} </option>
                    {{/each}}
                </select>
            </div>
            <button class="ui red basic fluid button" onclick="process('{{user.email}}')"> Process </button>
            <button class="ui red basic fluid button" onclick="cleanTrees()"> Clean all </button>
        </div>
    </div>  

    <div class="ui red segment">
        <h4 class="ui red header">Insert new tree</h4>
        
        <div class="ui form">
            <div class="field">
                <textarea id="treeData" rows="3"> </textarea>
            </div>
            <div class="field">
                <select class="ui search dropdown" id="typeData">
                    <option value="">Select tree type</option>
                    {{#each types}}
                        <option value={{this.id}}> {{this.description}} </option>
                    {{/each}}
                </select>
            </div>
            <button class="ui red basic fluid button" onclick="addTree()"> Add </button>
        </div>
       
    </div>  

    <div class="ui basic modal" id="modal">
        <div class="ui icon header">
            <i class="setting loading icon"></i>
                Processing data
            </div>
        <div class="content">
            <p>We are processing your data</p>
            <p>The id for your processing job is:</p>
        </div>
        <div class="actions">
            <form class="ui form" method="GET" action="/checkResults">
                <div class="field">
                    <div class="ui red action input">
                        <input type="text" id="jobId" name="id">
                    </div>
                </div>
                <button class="ui red basic button" type="submit"> Check results now! </button>
            </form>
            {{#if user}}
                <a href="/myJobs" class="ui red basic inverted button">
                    My jobs
                </a>
            {{/if}}
        </div>
    </div>
</div>

<script>
    $('.ui.dropdown').dropdown()
    $('#modal').modal('attach events', '#checkBtn', 'hide')
</script>