<style>
    #segment1{
        position:absolute;
        left: 0%;
        right:50%;
        z-index:1000;
        background:white;
    }
    #segment2{
        position:absolute;
        left: 50%;
        right:0%;
        background:white;
    }
    #s1{
        background: #4575b4;
    }
    #s2{
        background: #74add1;
    }
    #s3{
        background: #abd9e9;
        color: #abd9e9;
    }
    #s4{
        background: #e0f3f8;
        color: #e0f3f8;
    }
    #s5{
        background: #fee090;
        color: #fee090;
    }
    #s6{
        background: #fdae61;
        color: #fdae61;
    }
    #s7{
        background: #f46d43;
    }
    #s8{
        background: #d73027;
    }
    .expText{
        color: #DB2828;
    }
</style>

<script>
    $(document).ready(function (){
        exportRes("{{results._id}}")
    })
</script>

<div>
    <div class="ui huge red center aligned header">
        Results for {{results._id}} 
         <span id="exports"> 
            <button id="btn" class="ui small basic red button" data-tooltip="Export the results"> </button> 
         </span>
    </div>
    <div class="ui red segment">
        <table class="ui center aligned celled very basic padded table">
            <thead> 
                <tr>
                    <th> 
                    </th>
                    {{#each results.trees}}
                        <th> Tree id: {{this.id}} </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each results.results}}
                    <tr>
                        {{#each this}}
                            {{#if @first}}
                                <td> <b> Tree id: {{this.tree1}} </b> </td>
                            {{/if}}
                            <td>
                                {{#each this.results}}
                                    {{#unless @first}}
                                        <div class="ui fitted divider"></div>
                                    {{/unless}}
                                    <div class="ui label" onclick="viewComparison(
                                        '{{../../../this.results.formats}}',
                                        '{{this.result.diffsT1}}',
                                        '{{this.result.diffsT2}}',
                                        '{{../this.tree1}}', 
                                        '{{../this.tree2}}'
                                    )">
                                        {{this.metric}} {{this.result.result}} 
                                    </div>
                                {{/each}}
                            </td>
                        {{/each}}
                    </tr>
                {{/each}} 
            </tbody>
        </table>
    </div>
    <span> Color scale: </span>
    <span id="s1"> 1. </span>
    <span id="s2"> 2. </span>
    <span id="s3"> 3. </span>
    <span id="s4"> 4. </span>
    <span id="s5"> 5. </span>
    <span id="s6"> 6. </span>
    <span id="s7"> 7. </span>
    <span id="s8"> 8. </span>
    <div> Legend: </div>
    <div> 1. - Equal </div>
    <div> 2. - Most similar </div>
    <div> 7. - Most dissimilar </div>
    <div> 8. - Different </div>

    <div class="ui huge red center aligned header" id="header"> </div>
    <div class="ui red segment">
        <div id="segment1"> </div>
        <div id="segment2"> </div>
    </div>
    
</div>