<div class="ui huge red center aligned header">Search for processing job results</div>

<div class="ui red segment">
    <div class="ui small red header">Insert a processing job id:</div>
    <form class="ui form" method="GET" action="/checkResults">
        <div class="field">
            <div class="ui red action input">
                <input type="text" name="id" placeholder="Search for results...">
            </div>
        </div>
        <button class="ui red basic button" type="submit"> Search </button>
    </form>
</div>
